@model Employ
<h1 >Welcome to Index View  </h1>

<table  class="table table-bordered table-primary table-responsive table-striped" >
    <tc >
        <td >
            Employ Id
        </td>
        <td>
            Employ Name
        </td>
        <td>
            Employ Salary
        </td>
      

    </tc>
    <tr>
        <td>
            @Model.Id
        </td>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Salary
        </td>
    </tr>
   
</table>